# RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# MacOs
.DS_Store

# renv
# see .gitignore in renv folder

# local paths config file
config/local_paths.R

# Derived data
data/derived/*
!data/derived/.gitkeep

# Outputs
outputs/plots/ESM data diagnostics/*
!outputs/plots/ESM data diagnostics/.gitkeep
