# RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# VS Code
.vscode/

# MacOs
.DS_Store

# renv
# see .gitignore in renv folder

# local paths config file
config/local_raw_data_path.R

# Data
data/imported/*
!data/imported/.gitkeep
data/reduced/*
!data/reduced/.gitkeep
data/analysis/*
!data/analysis/.gitkeep

# Outputs
outputs/plots/*
!outputs/plots/.gitkeep
outputs/logs/*
!outputs/logs/.gitkeep
outputs/scripts/*
!outputs/scripts/.gitkeep

# Quarto cache
/.quarto/
**/*.quarto_ipynb
